{% block content %}

<!-- <form method="POST" action="/"> -->
        <h4 class="text-primary">Create a Task</h4>
        {{ add_task_form.new_task(size=20)}}
        <!-- <div style="padding-top: 5px;">
                <input type="date" data-date-inline-picker="false" data-date-open-on-focus="true" />
        </div> -->
        <div style="padding: 5px;">
                <input id="enterTask" class="btn btn-primary" type=submit>
                <span class="close" onclick="spanTaskIn()">&times;</span>
        </div>
<!-- </form> -->


{% endblock %}
