{% block content %}

<form method=post enctype=multipart/form-data>
  <h4 class="text-primary">Upload Files</h4>
  <p class="text-primary">What group would you like to insert data for?</p>
  <input type=text name=group_insert>
  <p class="text-primary">Click browse to find the file to upload</p>
  <input type=file name=file>
  <div style="padding-top:5px;">
    <input class="btn btn-primary" type=submit value=Upload>
    <span class="close" onclick="spanClickUploader()">&times;</span>
  </div>
</form>

{% endblock %}
