.g-signin2 {
	float: right;
	padding-top: 7.5px;
}

.data {
	display: none;
}

.goaway {
	display: block;
	padding-top: 50px;
	text-align: center;
}

body {
	padding-top: 5px;
	padding-left: 5px;
}

ul.nav li.dropdown:hover ul.dropdown-menu {
	display: block;
}

nav {
	background-color: white;
}
			
#overlay {
	display: none;
	width: 100%;
	text-align: center;
}