{% extends 'base.html' %}

{% block content %}
	<div class="row" style="text-align: center;">
		<div class="column border border-primary">
			<h2 class="text-primary">Sage</h2>
			<img src="{{url_for('static', filename='img/debrsa01.jpg')}}" class="img-circle" width="200" height="200"/>
			<h3 class="text-muted" style="padding-top:5px;">Hello, my name is Sage. I am the one having the main eye on the database.
			It has been such a great experience to use what I learn and apply it to a usable application that my team and I can grow
			from the ground up. The journey of exploring new technologies, using what we have learned in our classes, and trying to
			make sure those two things work together by our own independent or group research has been very fun. It is a fairly noticeable
			difference compared to our classes where we have to meet a task; in this application, we are setting our own goals, tasks, and
			plans. Despite how different it may be in this regard, I'm confident that my group and I will be able to power through difficulties
			since we can all work well together.
			</h3>
		</div>
		<div class="column border border-primary">
			<h2 class="text-primary">Brian</h2>
			<img src="{{url_for('static', filename='img/ramibr01.jpg')}}" class="img-circle" width="200" height="200"/>
			<h3 class="text-muted" style="padding-top:5px;">Hello there, my name is Brian. I am the back-end developer for this application. This whole
				project is quite exciting for me. Prior to this I have never worked with a team or on a project of this size, so I am eager to take what
				I have learned throughout college and challenge myself. Learning about new technologies and how to collaborate with others has been great
				and having the chance to develop something ourselves for the firstime is such an amazing experience. On top of that, Knowing that the work 
				we do could be used by others for their benifit is a nice feeling to have. My team and I are excited to further develop this app and we 
				cannot wait to complete it and see the result of our work.
			</h3>
		</div>
		<div class="column border border-primary">
			<h2 class="text-primary">Keegan</h2>
			<img src="{{url_for('static', filename='img/IMG_3082.jpg')}}" class="img-circle" width="200" height="200"/>
			<h3 class="text-muted" style="padding-top:5px;">Hello, my name is Keegan. I am the front-end developer of this application. I am excited
				to work on this project with Brian and Sage. Throughout this whole project we have had to overcome some obstacles.
				We really haven't worked with a team in school and the senior project finally joins a group of computer science majors
				to work on a significant application that benifits other people. When tasked with this application, my eyes grew big.
				I thought this was an opprotunity of a life time to work on a government project during school. Who gets to do that
				while still in school. I am greatful working with a team that has passion for this project and I look forward to
				completing this application.
			</h3>
		</div>
	</div>
{% endblock %}
