{% extends 'base.html' %}

{% block content %}
	<div class="row" style="padding-left:20px;">
		<div class="column">
			<h2 class="text-primary">Sage</h2>
			<img src="{{url_for('static', filename='img/debrsa01.jpg')}}" class="img-circle" width="200" height="200"/>
		</div>
		<div class="column">
			<h2 class="text-primary">Brian</h2>
			<img src="{{url_for('static', filename='img/ramibr01.jpg')}}" class="img-circle" width="200" height="200"/>
		</div>
		<div class="column">
			<h2 class="text-primary">Keegan</h2>
			<img src="{{url_for('static', filename='img/IMG_3082.jpg')}}" class="img-circle" width="200" height="200"/>
		</div>
	</div>
{% endblock %}