{% extends 'base.html' %}

{% block content %}
	<div style="padding-top:15px;">
		<div style="float:left;">
			<h3 class="text-primary"><strong>What is Data Sense?</strong></h3>
			<p style="color:white;"><strong>Data Sense is a utility that allows users to share
				documents and files with other people. We took a simple approach with this app to 
				create a simpe work environtment making it seamless as possible and easy to use.
			</strong></p>
		</div>
		<div style="float:right;">
			<h3 class="text-primary"><strong>Why did we make this app?</strong></h3>
			<p style="color:white;"><strong>This is our senior project at Luther College. Sage 
				was approached by his father to develop an evironment that allows people to come 
				together to share data for others to share. This application would be 
				used by the Government of the Marshall Islands. They simply needed an easy way to 
				access data from other ministries.
			</strong></p>
		</div>
	</div>
	<div style="text-align:center;">
		<a class="hov" style="color:white;" href="/team">Meet the Team</button>
	</div>
{% endblock %}
