<!DOCTYPE html>

<html>
	<head>
		<title>Data Sense</title>
		<meta charset="utf-8" />
		<meta name="google-signin-client_id" content="798265448710-nqo7h881abf59cn9oghng9erq841tbq1.apps.googleusercontent.com">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://apis.google.com/js/platform.js" async defer></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="icon" href="{{url_for('static', filename='img/ds_logo.png')}}">
		<script src="{{url_for('static', filename='index5.js')}}"></script>
		<link rel="stylesheet" href="{{ url_for('static', filename='index11.css') }}" />

	</head>
	<header>
		<nav class="navbar navbar-fixed-top admin-menu bg-light" role="navigation">
			<a class="navbar-brand" href="/">Data Sense</a>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<a class="navbar-brand" href="/about">About</a>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding-right:15px;">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown" style="padding-top:7.5px;padding-right:5px;">
						<img class="data" src="{{url_for('static', filename='img/new_blue.png')}}" style="float:right" width="37.5" height="37.5" />
						<ul class="dropdown-menu" style="text-align:center;">
							<li>
								<p class="text-primary">Notifications</p>
							</li>
						</ul>
					</li>
					<li>
						<div class="g-signin2" data-onsuccess="onSignIn" style="padding-right:5px;" data-theme="dark"></div>
					</li>
					<li class="dropdown data" style="padding-top:7.5px;padding-right:5px;">
						<h5 class="text-primary" id="name" style="padding-right:5px;float:left;"></h5>
						<img id="pic" class="img-circle data" style="float:right" width="37.5" height="37.5" />
						<ul class="dropdown-menu" style="text-align:center;">
							<li>
								<a class="text-primary" href="/profile">Profile Settings</a>
							</li>
							<li>
								<a onclick="signOut()" class="text-primary">Sign Out</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
	</header>

	<body>
		{% block content %}{% endblock %}
	</body>
</html>