{% extends 'base.html' %}

{% block content %}
	<div class="goaway">
		<h3 class="text-primary">Welcome to Data Sense!</h3>
		<h5 class="text-primary">Please Sign In</h5>
		<img src="{{url_for('static', filename='img/ds_logo.png')}}" width="400" height="400"/>
		<p class="text-primary">Please note that users *NEED* a Google acount to use this application...</p>
	</div>

    <div class="data" style="background-color:white;float:left;" width="7.5%">
		<h3 class="text-primary" style="text-align:center;">Teams</h3>
		<div style="text-align:center;">
			<a class="text-primary" onclick="on()">Form a Team</a>
		</div>

		<div id="overlay">
			{% include 'includes/mkgroup.html' %}
		</div>
	</div>
	<div class="data" style="float:left;padding-left:5px;" width="35%">
		<h4>Your Team</h4>
        {% for key, value in result.items() %}
        <p> {{ value }} </p>
        {% endfor %}
        <h3>End</h3>
	</div>
{% endblock %}
