<!DOCTYPE html>
<html>
    <head>
		<title>Data Sense</title>
		<meta charset="utf-8" />
		<meta name="google-signin-client_id" content="798265448710-nqo7h881abf59cn9oghng9erq841tbq1.apps.googleusercontent.com">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://apis.google.com/js/platform.js" async defer></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="icon" href="{{url_for('static', filename='img/ds_logo.png')}}">
		<script src="{{url_for('static', filename='indexhome.js')}}"></script>
		<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
	</head>

	<header>
		<nav class="navbar navbar-fixed-top admin-menu bg-light" role="navigation">
			<a class="navbar-brand" href="/"><strong><font size="5">Data Sense</font></strong></a>
			<!-- Collect the nav links, forms, and other content for toggling -->
            <a class="navbar-brand" href="/about"><strong><font size="5">About</font></strong></a>
            <div class="g-signin2" data-onsuccess="onSignIn" style="padding-right:10px;float:right" data-theme="dark" onclick="window.location='/user'"></div>
		</nav>
    </header>
    
    <body style="padding-top:35px;padding-left:15px;">

        <div style="float:left;width:20%;padding-top:15px;">
            <h3 class="text-primary"><strong>Teams</strong></h3>
            <div id="navigation">
	    		{% for item in membership_list %}
				<a id="{{ item }}" class="atag" onclick="query_data('{{ item }}');"><strong><font size="4">{{ item }}</font></strong></a>
				<!-- <a class="atag" onclick="query_data('{{ item }}'); document.location.reload(true);"><strong><font size="4">{{ item }}</font></strong></a> -->
				<!-- <a class="atag" onclick="query_data('{{ item }}'); setTimeout(function(){document.location.reload(true)}, 1000);"><strong><font size="4">{{ item }}</font></strong></a> -->
				<br>
	    		{% endfor %}
			</div>
        </div>

        <div style="float:left;width:30%; padding-left:20%; padding-top:15px;">
            <h3 class="text-primary"><strong>Data</strong></h3>
			<div id="navigation">
				{%- if response|length > 1 -%}
					{% for item in response[0] %}
					<p style="color:white;"><strong><font size="4">{{ item }}</font></strong></p>
					{% endfor %}
      				{% for file_name in file_lst %}
      				<a class="atag" href="uploads/{{ file_name }}" download><strong><font size="4">{{ file_name }}</font></strong></a>
					{% endfor %}
                {% endif %}
            </div>
        </div>

    </body>
</html>