{% extends 'base.html' %}

{% block content %}

<h1> {{ content }} </h1>



<div class="data" style="float:left;width:20%;padding-top:15px;">
	<h3 class="text-primary"><strong><u>Teams</u></strong></h3>
  <!-- List of teams goes here. -->
  <div id="navigation" style="overflow:auto;height:50%;">
      {% for item in membership_list %}
        <!-- <a id="{{ item }}" class="atag" onclick="query_data('{{ item }}');"><strong><font size="4">{{ item }}</font></strong></a> -->
        <a style="color:black;" id="{{ item }}" onclick="query_data('{{ item }}');"><font size="4">{{ item }}</font></a>
        <br>
      {% endfor %}
  </div>

{% if team_creator %}
  <div style="padding-top:10px;">
    <a id="form-team" class="text-primary hov" onclick="showModel()"><strong><font size="4">Form a Team</font></strong></a>
  </div>

  <div id="myModal" class="modal">
    <div class="modal-contents">
      <!-- {% include 'includes/mkgroup.html' %} -->
      <form method="POST" style="float:left;">
    		<h4 class="text-primary">Form a Team</h4>
    		<div style="padding-top:5px; padding-bottom: 5px;">
    	    	{{ create_group_form.group_name.label }} {{ create_group_form.group_name(size=20) }}
        </div>
        <br>
    		<div style="padding-top:5px;">
    			{{ create_group_form.email.label }} {{ create_group_form.email(size=20) }}
    		</div>
    		<div style="padding-top:10px;">
    			<input id="form-team-btn" class="btn btn-primary" type="submit" value="Form Team">
    			<span class="close" onclick="spanClick()">&times;</span>
    		</div>
    	</form>
    </div>
  </div>
{% endif %}

</div>

<div class="data" style="float:left;width:30%; padding-left:20px; padding-top:15px; border-left: 2px solid white;">
  <div>
	  <h3 class="text-primary"><strong><u>{{ group_name }} Members</u></strong></h3>
    <div id="navigation" style="overflow:auto;height:50%;">
         <!-- Expected a list of strings i.e. [member1, member2, etc]-->
        {% if group_name != "no_group" %}
            {% for ranks_users in members %}
	    <p><strong><font size="4"><u>{{ ranks_users[0] }}</u></font></strong></p>
                {% for human in ranks_users[1] %}
                  <p><font size="4">{{ human }}</font></p>
                {% endfor %}
            {% endfor %}
        {% endif %}
        {% if group_name == "no_group" %}
            <p><font size="4">No group selected</font></p>
        {% endif %}
    </div>

    {% if admin %}
    <div>
      <a id="admin-priv" class="text-primary hov" onclick="showAdmin()"><strong><font size="4">Admin Privileges</font></strong></a>
      <div id="myAdmin" class="modal">
        <div class="modal-content-large">
          <form method="POST">
          {% include 'includes/drop_collection.html' %}
          </form>

          <form method="POST">
          {% include 'includes/file_deletion.html' %}
          </form>

          <form method="POST">
          {% include 'includes/add_member.html' %}
          </form>

          <form method="POST">
            {% include 'includes/remove_member.html' %}
          </form>

        </div>
      </div>
    </div>
    {% endif %}

  </div>
</div>

{% if admin or standard %}
<div class="data" style="float:left;width:20%; padding-left:5px; padding-top:15px; border-left: 2px solid white;">
	<h3 class="text-primary"><strong><u>Private</u></strong></h3>
  <div id="navigation" style="overflow:auto;height:50%;">
      {% for each_file in private_files %}
        <p style="color:black;"><a style="color:black;" href="../../uploads/{{ group_name }}/private/{{ each_file }}" download><font size="4">{{ each_file }}</font></a></p>
      {% endfor %}
	  <a onclick="showFolder()" style="color:black;"><font size="4">Test Folder</font></a>
      <div id="myFolder" class="modal">
        <div class="modal-content">
          <p style="color:black;float:left;"><a style="color:black;" href="" download><font size="4">Test File</font></a></p>
          <button style="float:right;" type="button" class="btn btn-warning btn-xs">Make Public</button>
	  <br>
          <span id="closeUp" class="close" onclick="spanFolder()">&times;</span>
      </div>
  </div>
  <br>
  {% if group_name != "no_group" %}
  <a id="upload_file" class="text-primary hov" onclick="showUploader()"><strong><font size="4">New Folder</font></strong></a>
    <div id="myUploader" class="modal">
      <div class="modal-content">
        <form method=post enctype=multipart/form-data>
          <h4 class="text-primary">Upload Files</h4>
          <p class="text-primary">Choose a file to upload</p>
          <input id="fileUpload" type=file name=file>
          <div style="padding-top:5px;">
            <input id="enterUp" class="btn btn-primary" type=submit value=Upload>
            <span id="closeUp" class="close" onclick="spanClickUploader()">&times;</span>
          </div>
        </form>
      </div>
  </div>
  {% endif %}
</div>
{% endif %}
<br>

<div class="data" style="float:right;width:20%; padding-left:5px; padding-top:15px; border-left: 2px solid white;">
	<h3 class="text-primary"><strong><u>Public</u></strong></h3>
  <div id="navigation" style="overflow:auto;height:50%;">
      {% for each_file in public_files %}
        <p style="color:black;"><a style="color:black;" href="../../uploads/{{ group_name }}/public/{{ each_file }}" download><font size="4">{{ each_file }}</font></a></p>
      {% endfor %}
  </div>
</div>

{% if admin or standard %}
<div class="data" style="position: absolute; bottom: 0; float: right; padding-top: 5px; padding-bottom: 10px; border-top: 2px solid white;">
	<h3 class="text-primary"><strong><u>Tasks</u></strong></h3>
  <div>
    <!-- <input type="checkbox" style="float:left;"><p style="color:white; float:left; padding-left:5px;">example task item</p><br> -->
    {% set count = [1] %}
    {% for atask in tasks %}
      {% set task_id = "task" + count[0]|string %}
    	<div class="dropdown">
    		<a id="parent" class="tk" style="color:black; float:left; padding:5px; border: 1px solid #888; border-radius: 10px;"><div id="{{ task_id }}">{{ atask }}</div></a>
        {% if count.append(count.pop() + 1) %}
        {% endif %}

        {% if admin %}
      		<div class="dropdown-content">
            <a class="text-danger" onclick="del_task('{{ task_id}}')">Delete Task</a>
          </div>
        {% endif %}
	    </div>
    {% endfor %}
  </div>

  <br>

  {% if admin %}
  <div>
      <a id="newTask" class="text-primary hov" style="float:left;" onclick="showTaskIn()"><strong><font size="4">New Task</font></strong></a>
  </div>
  {% endif %}
  <div id="myTaskIn" class="modal">
    <div class="modal-content">

      <form method="POST">
        {% include 'includes/add_task.html' %}
      </form>

    </div>
  </div>
</div>

{% endif %}

{% endblock %}
