{% extends 'base.html' %}

{% block content %}
<div class="data" style="float:left;width:20%;padding-top:15px;">
  <h1>Hello {{email}}!</h1>
  <h3 class="text-primary"><strong>Teams</strong></h3>
  <!-- List of teams goes here. -->
  <div id="navigation">
      {% for item in membership_list %}
        <!-- <a id="{{ item }}" class="atag" onclick="query_data('{{ item }}');"><strong><font size="4">{{ item }}</font></strong></a> -->
        <a id="{{ item }}" class="atag" onclick="query_data('{{ item }}');"><strong><font size="4">{{ item }}</font></strong></a>
        <br>
      {% endfor %}
  </div>

  <div style="padding-top:10px;">
    <a id="form-team" class="text-primary hov" onclick="showModel()"><strong><font size="4">Form a Team</font></strong></a>
  </div>
</div>



<div class="data" style="float:left;width:20%; padding-left:10%; padding-top:15px;">
  <div>
    <h3 class="text-primary"><strong>Members</strong></h3>
    <div id="navigation">
         <!-- Expected a list of strings i.e. [member1, member2, etc]-->
        {% for ranks_users in members %}
      <p style="color:white;"><strong><font size="4">{{ ranks_users }}</font></strong></p>
        {% endfor %}
    </div>

    <!-- {% if admin %}
    <div>
      <a id="admin-priv" class="text-primary hov" onclick="showAdmin()"><strong><font size="4">Admin Privileges</font></strong></a>
      <div id="myAdmin" class="modal">
        <div class="modal-content">
          {% include 'includes/drop_collection.html' %}
          {% include 'includes/file_deletion.html' %}
          {% include 'includes/add_member.html' %}

        </div>
      </div>
    </div>
    {% endif %} -->

  </div>
</div>


{% endblock %}
