{% extends 'base.html' %}

{% block content %}

<div class="data" style="float:left;width:20%;padding-top:15px; border-right: 2px solid white;">
  <h3 class="text-primary"><strong>Teams</strong></h3>
  <!-- List of teams goes here. -->
  <div id="navigation" style="overflow:auto;">
      {% for item in membership_list %}
        <!-- <a id="{{ item }}" class="atag" onclick="query_data('{{ item }}');"><strong><font size="4">{{ item }}</font></strong></a> -->
        <a id="{{ item }}" class="atag" onclick="query_data('{{ item }}');"><strong><font size="4">{{ item }}</font></strong></a>
        <br>
      {% endfor %}
  </div>

  <div style="padding-top:10px;">
    <a id="form-team" class="text-primary hov" onclick="showModel()"><strong><font size="4">Form a Team</font></strong></a>
  </div>

  <div id="myModal" class="modal">
    <div class="modal-contents">
      <!-- {% include 'includes/mkgroup.html' %} -->
      <form method="POST" style="float:left;">
    		<h4 class="text-primary">Form a Team</h4>
    		<div style="padding-top:5px; padding-bottom: 5px;">
    	    	{{ create_group_form.group_name.label }} {{ create_group_form.group_name(size=20) }}
        </div>
        <br>
    		<div style="padding-top:5px;">
    			{{ create_group_form.email.label }} {{ create_group_form.email(size=20) }}
    		</div>
    		<div style="padding-top:10px;">
    			<input id="form-team-btn" class="btn btn-primary" type="submit" value="Form Team">
    			<span class="close" onclick="spanClick()">&times;</span>
    		</div>
    	</form>
    </div>
  </div>

</div>

<div class="data" style="float:left;width:50%; padding-left:20px; padding-top:15px; border-right: 2px solid white;">
  <div>
    <h3 class="text-primary"><strong>{{ group_name }} Members</strong></h3>
    <div id="navigation" style="overflow:auto;">
         <!-- Expected a list of strings i.e. [member1, member2, etc]-->
        {% if group_name != "no_group" %}
            {% for ranks_users in members %}
                <p style="color:white;"><strong><font size="4">{{ ranks_users[0] }}</font></strong></p>
                {% for human in ranks_users[1] %}
                  <p style="color:white;"><font size="4">{{ human }}</font></p>
                {% endfor %}
            {% endfor %}
        {% endif %}
        {% if group_name == "no_group" %}
            <p style="color:white;"><strong><font size="4">No group selected</font></strong></p>
        {% endif %}
    </div>

    {% if admin %}
    <div>
      <a id="admin-priv" class="text-primary hov" onclick="showAdmin()"><strong><font size="4">Admin Privileges</font></strong></a>
      <div id="myAdmin" class="modal">
        <div class="modal-content-large">
          <form method="POST">
          {% include 'includes/drop_collection.html' %}
          </form>

          <form method="POST">
          {% include 'includes/file_deletion.html' %}
          </form>

          <form method="POST">
          {% include 'includes/add_member.html' %}
          </form>

        </div>
      </div>
    </div>
    {% endif %}

  </div>
</div>

<div class="data" style="float:right;width:30%; padding-left:20px; padding-top:15px;">
  <h3 class="text-primary"><strong>Files</strong></h3>
  <div id="navigation" style="overflow:auto;">
      {% for each_file in files %}
      <p><a class="atag" href="../../uploads/{{ each_file }}" download><strong><font size="4">{{ each_file }}</font></strong></a></p>
      {% endfor %}
      <br>

      <!--<p class="text-primary"><strong>The files for your group are:</strong></p>
          {% for file_name in file_lst %}
            <a class="atag" href="uploads/{{ file_name }}" download><strong><font size="4">{{ file_name }}</font></strong></a>
          {% endfor %}-->

    <a id="upload_file" class="text-primary hov" onclick="showUploader()"><strong><font size="4">Upload a File</font></strong></a>

    <div id="myUploader" class="modal">
      <div class="modal-content">
        <!-- Uploading Files -->
        <form method=post enctype=multipart/form-data>
          <h4 class="text-primary">Upload Files</h4>
          <p class="text-primary">Choose a file to upload</p>
          <input id="fileUpload" type=file name=file>
          <div style="padding-top:5px;">
            <input id="enterUp" class="btn btn-primary" type=submit value=Upload>
            <span id="closeUp" class="close" onclick="spanClickUploader()">&times;</span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="data" style="position: absolute; bottom: 0; float: right; padding-top: 5px; padding-bottom: 5px; border-top: 2px solid white;">
  <div>
    <h3 style="color:white;">Tasks</h3>
    <!-- <input type="checkbox" style="float:left;"><p style="color:white; float:left; padding-left:5px;">example task item</p><br> -->
    {% for atask in tasks %}
        <li class="tk" style="color:white; float: left;padding-right: 2px; list-style-type: none;">{{ atask }}</li>
        <img class="delete" style="float:left; padding-right: 5px;" src="{{url_for('static', filename='img/garbage.png')}}" class="img-circle" width="2" height="2"/>
    {% endfor %}
  </div>
  <a id="newTask" class="text-primary hov" onclick="showTaskIn()"><strong><font size="4">New Task</font></strong></a>
  <div id="myTaskIn" class="modal">
    <div class="modal-content">

      <form method="POST">
          {% include 'includes/add_task.html' %}
      </form>

    </div>
  </div>
</div>

{% endblock %}
